<header class="head">
	<div class="header fn-clear">
		<section class="header-cnt fn-clear">
			<div class="logo">
				<div class="logo-cnt">
					<h1><a href="/">{{ site.blogName }}</a></h1>
					<h2>{{ site.blogDesc }}</h2>
				</div>
			</div>
			<nav class="nav">
				<ul>
					<li><a href="/">首页</a></li>
					<li><a href="/archives.html">文章</a></li>
					<li><a href="https://github.com/xboot/xboot" target="_blank">源码下载</a></li>
					<li><a href=#>参考手册</a></li>
					<li><a href=#>作品展示</a></li>
					<li><a href="/about.html">关于我们</a></li>
					<li><a href="http://bbs.xboot.org">社区论坛</a></li>
				</ul>
			</nav>
		</section>
	</div>
</header>
