<div class="box fn-clear">
	<h3 class="title">GitHub Project</h3>
	<ul>
		<li>&#8227;<a href="https://github.com/xboot/xboot" target="_blank">xboot</a></li>
		<li>&#8227;<a href="https://github.com/qemu/qemu" target="_blank">qemu</a></li>
		<li>&#8227;<a href="https://github.com/bminor/musl" target="_blank">musl</a></li>
		<li>&#8227;<a href="https://github.com/xvisor/xvisor" target="_blank">xvisor</a></li>
		<li>&#8227;<a href="https://github.com/frantony/barebox" target="_blank">barebox</a></li>
	</ul>
</div>
